<!-- <div class="container">
    <h2>Template-driven Form</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ngModel required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="error">
                <div *ngIf="loginForm.controls['email']?.errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="loginForm.controls['email']?.errors?.['pattern']">
                    Please enter a valid email address.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ngModel required minlength="8">
            <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched"
                class="error">
                <div *ngIf="loginForm.controls['password']?.errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="loginForm.controls['password']?.errors?.['minlength']">
                    Password must be at least 8 characters long.
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div> -->

<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <div id="htmleditor" [innerText]="templateData()">
                </div>
            </mat-card-content>
        </mat-card>



    </mat-grid-tile>
    <mat-grid-tile>
        <div class="container">
            <h2>Template-driven Form</h2>
            <form id="templateForm" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" ngModel required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched"
                        class="error">
                        <div *ngIf="loginForm.controls['email']?.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="loginForm.controls['email']?.errors?.['pattern']">
                            Please enter a valid email address.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" ngModel required minlength="8">
                    <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched"
                        class="error">
                        <div *ngIf="loginForm.controls['password']?.errors?.['required']">
                            Password is required.
                        </div>
                        <div *ngIf="loginForm.controls['password']?.errors?.['minlength']">
                            Password must be at least 8 characters long.
                        </div>
                    </div>
                </div>
                <button type="submit" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </mat-grid-tile>
</mat-grid-list>